
body {
    margin: 0;
    background-color: #cccccc;
}
table {
    border-spacing: 0;
}
td {
    padding: 0;
}
img {
    border: 0;
}

.wrapper{

    width: 100%;
    table-layout: fixed;
    background-color: #cccccc;
    padding-bottom: 0px;

}

.main{

    background-color: #ffffff; 
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color: #4a4a4a;       

}

.two-columns{

    text-align: center;
    font-size: 0;
    
}

.two-columns .column {

    width: 50%;
    max-width: 300px;
    display: inline;
    vertical-align: top;
    text-align: left;
    font-size: 0; 
    margin: 0;
    box-sizing: border-box;

    
}

.button{

    background-color: #289dcf;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 5px;
    filter: grayscale(100%);


}

.button:hover{

    filter: none;

}

.three-columns{

    text-align: center;
    font-size: 0;
    padding: 35px 0 20px;
    justify-content: center;

}

.three-columns .column{

    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;

}

.three-columns .padding{

    padding: 15px;

}

.three-columns .content{

    font-size: 15px;
    line-height: 20px;

}

.two-columns.last{

    padding: 35px 0;
    border: 2px solid #808080;
    

}

.two-columns .padding{

    padding: 20px;

}

.two-columns .content{

    font-size: 15px;
    line-height: 20px;
    text-align: left;
    

}

.two-columns .content p{

    max-width: 100%;
    overflow-wrap: break-word;

}

#facebook{

    filter: grayscale(100%);

}

#facebook:hover{

    filter: none;

}

#category1{

    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease; /* Transiciones suaves para varios efectos */


}

#category1:hover{

    filter: none;

}

.articles{

    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease; /* Transiciones suaves para varios efectos */


}

.articles:hover{

    filter: blur(0.4px); /* Agrega un efecto de desenfoque */
    opacity: 0.95; /* Cambia la opacidad */

}

.tag{

    margin-left: 5px;

}

h2{

    font-size: 25px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #4F4AFB;

}

#suscribirse:hover{

    color: darkred;

}

.arrow-link {

    display: block;
  
}

