@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
*,*::before, *::after{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{

    text-decoration: none;

}

button{

    border: none;
    outline: none;
    cursor: pointer;

}

.icon-icon{display: block;}
body {

    margin: 0;
    background-color: #cccccc;

}
table {
    
    border-spacing: 0;
}
td {
    padding: 0;
}
img {
    border: 0;
}

.wrapper{

    width: 100%;
    table-layout: fixed;
    background-color: #cccccc;
    padding-bottom: 0px;

}

.main{

    background-color: #ffffff; 
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    font-family: sans-serif;
    color: #4a4a4a;       

}

.two-columns{

    text-align: center;
    font-size: 0;
    width: 100%;
    
}

.two-columns .column {

    width: 100%;
    max-width: 100%;
    display: inline;
    vertical-align: top;
    text-align: left;
    font-size: 0; 
    margin: 0;
    box-sizing: border-box;

    
}

.button{

    background-color: #005fa7;
    color: #ffffff;
    text-decoration: none;
    padding: 22px 20px;
    font-weight: bold;
    border-radius: 5px;
    filter: grayscale(100%);


}

.button:hover{

    filter: none;

}

.two-columns.last{

    padding: 0;
    border-top: 2px solid #007f9a;
    

}

.two-columns .padding{

    padding: 10px;

}

.two-columns .content{

    font-size: 14px;
    line-height: 20px;
    text-align: center;
    

}

.two-columns .content p{

    max-width: 100%;
    overflow-wrap: break-word;

}

#facebook{

    filter: grayscale(100%);

}

#facebook:hover{

    filter: none;

}

#category1{

    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease; /* Transiciones suaves para varios efectos */


}

#category1:hover{

    filter: none;

}

.articles{

    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease; /* Transiciones suaves para varios efectos */


}

.articles:hover{

    filter: blur(0.4px); /* Agrega un efecto de desenfoque */
    opacity: 0.95; /* Cambia la opacidad */

}

.tag{

    margin-left: 5px;
    background-color: #00954f;

}

h2{

    font-size: 35px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #024b94;

}

#suscribirse:hover{

    color: #024b94;

}

.arrow-link {

    display: block;
  
}

p{

    font-family: 'Roboto', sans-serif;

}

h1,h2,h3,h4,h4,h5,h6{

    font-family: 'Montserrat', sans-serif;

}


.titulo{

    width: 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-top: 0px;
    
}

@media only screen and (min-width: 601px) {
    .iconos {

        padding-left: 40px; 

    }
}

@media only screen and (min-width: 601px) {
    
    .articulos a{

        margin-top: 30px;
        

    }
    .articulos p{

        padding-top: 0px;
        

    }
    .articulos img{

        width: 100px;

    }
}


.principal{

    text-align: center;
    justify-content: center;

}

.article-card{

    display: grid;
    grid-template-columns: 350px minmax(950px, 1200px);
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 6px 6px 5px hsla(0, 0, 0%, 0.02), 25px 25px 20px hsla(0, 0, 0%, 0.03), 100px 100px 80px hsla(0, 0, 0%, 0.05);
    
}


.img-box{

    border-radius: 10px 0 0 10px;
    overflow: hidden;

}

.img-box img{

    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 5px;

}


.article-banner{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transition: all 0.5s ease;

}

.article-card:hover .article-banner{

    transform: scale(1.1);

}

.article-content{

    background-color: white;
    padding: 22px 20px;
    border-radius: 0 10px 10px 0;

}

.article-title{

    font-size: 20px;
    color: #0071aa;
    margin-bottom: 12px;
    line-height: 1.4;

}


.article-text{

    font-size: 13.5px;
    margin-bottom: 18px;
    line-height: 3.5;
    margin-top: 15px;

}

.article-content-footer{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.author{

    display: flex;
    align-items: center;

}

.avatar{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;

}

.author-name{

    color: #0071aa;
    font-size: 12px;

}

.publish-date{

    font-size: 12px;

}

.share{

    position: relative;

}

.share-button{

    padding: 2px;
    border-radius: 30px;
    font-size: 12px;
    transition: all 0.25s ease;
    margin-left: 24px;

}

.share-button:hover, .share-button.active{

    color: black;
    background: white;

}

.share-option{

    --scale: 0;
    --translateX: 0%;
    --translateY: 0%;

    background: darkblue;
    position: absolute;
    bottom: calc(100% +20px);
    left: 25%;
    transform-origin: top;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px -5px darkblue;
    transform-origin: bottom;
    visibility: hidden;
    transition: all 0.25s ease;

}

.share-option.active{

    --scale: 1;
    visibility: visible;

}

.share-option::after{

    content: '';
    background: darkblue;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);

}

.share-option span{

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    margin-right: 5px;

}

.share-option i{

    font-size: 22px;


}

.share-option i:hover,
.article-title:hover,
.author-name:hover{

    filter: invert(1);

}

.articulos h2:hover{

    filter: invert(1);
    cursor: pointer;

}

@media  screen and (max-width: 768px)  {

    .conten-sub h2{

        text-align: center;

    }

    .conten-sub input{

        max-width: 250px;
        text-align: center;
        justify-content: center;
        margin-left: 10px;

    }



    .article-card{

        grid-template-columns: 1fr;
        max-width: 394px;
        overflow: hidden;

    }

    .img-box, .article-content{

        border-radius: 0;

    }

    .img-box{

        height: 280px;
        padding-left: 25px;

    }
    .article-content{

        padding: 30px 20px 20px;

    }

    .article-title{

        font-size: 15px;

    }
    .article-text{

        margin-bottom: 30px;

    }

    .article-content-footer{

        position: relative;

    }

    .author{

        width: 35px;
        height: 35px;

    }

    .share{

        position: static;
        z-index: 1;
    }
    .share-button{

        font-size: 12px;

    }

    .share-option{

        --scale: 1;
        --translateX: 0%;
        --translateY: 100%;

        inset: -20px -28px;
        border-radius: 0;
        padding: 17px 30px;
        z-index: -1;

    }

    .share-option .active{

        --translateY: 0%;


    }

    .autora{

        padding: 0;
        margin: 0;

    }

    .autora h4, p{

        padding-right: 20px;

    }

    .articulos a{

        margin-left:  30px;
        margin-top: 40px;

    }

}

.autora{

    display: flex;
    align-items: center;

}

.container-sub{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    background: #00819b;
    
}

.conten-sub{

    width: 100%;
    height: 100%;
    background: #008886;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.conten-sub h2{

    color: #ffffff;
    font-size: 30px;
    margin-bottom: 10px;

}

.conten-sub form{

    width: 100%;
    max-width: 440px;
    display: flex;

}

.conten-sub form .campo{

    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    outline: 0px;

}

.conten-sub form .btn-sub{

    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 10px 10px 10px 10px;
    background: #0071aa;
    color: #ffffff;
    cursor: pointer;
    outline: 0px;
    margin-left: 5px;

}

.conten-sub form .btn-sub:hover{

        filter: invert(1);

}
